.top-nav {
   
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    flex-basis: 5%;
}
.top-nav-items {
    margin:0 50px;
    display: flex;
    flex-direction: row;
}
.user>div {
    display: flex;
    gap: 10px;
    height: 20px;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.user>div>span{
  
        font-family: 'Mate SC', serif;
        font-weight: bold;
       
    
}

.user>div>i{
    
    margin-top: 2px;
   
}
